<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllItems</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>Value_Fix_Down</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>10</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Value5</key>
			<string>--</string>
			<key>Value6</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>Result5</key>
			<string>--</string>
			<key>Result6</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_Down_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>3000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_Down_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Value_DUT</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>2</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Value5</key>
			<string>--</string>
			<key>Value6</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>Result5</key>
			<string>--</string>
			<key>Result6</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Air in on</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Air_one time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Air in off</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Water in on</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Water time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>10000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>10000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Water in off</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Value_Fix_UP</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>10</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Value5</key>
			<string>--</string>
			<key>Value6</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>Result5</key>
			<string>--</string>
			<key>Result6</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>1000</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Air in on</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Air_two time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>13000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Air in off</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>3000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read Command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
	<key>AllItems - 2</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>Value_Fix_Down</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>100</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Value5</key>
			<string>--</string>
			<key>Value6</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>Result5</key>
			<string>--</string>
			<key>Result6</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_Down_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Fixture valve down</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_Down_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_Down_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>B2985A ON</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_Down_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_Down_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>B2985A OFF</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Value_DUT</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>30</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Value5</key>
			<string>--</string>
			<key>Value6</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>Result5</key>
			<string>--</string>
			<key>Result6</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Water out on</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>500</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Water in on</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>5000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Water in off</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Water out off</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>B2985A ON</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>5000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_DUT_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>B2985A OFF</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>Value_Fix_UP</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>100</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Value5</key>
			<string>--</string>
			<key>Value6</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>Result5</key>
			<string>--</string>
			<key>Result6</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>1000</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Water out on</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Air in on</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>15000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Air in off</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Water out off</string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>Fixture value up</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>B2985A ON</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read Command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Value_Fix_UP_RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>B2985A OFF</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
