<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fix1</key>
	<dict>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9318::MY54320561::INSTR</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-EW-FIX-A</string>
		<key>fixture_uart_port_name_e</key>
		<string>/dev/cu.usbserial-EW_FIX_A</string>
	</dict>
	<key>Fix2</key>
	<dict>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9418::MY54320635::INSTR</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-EW-FIX-B</string>
		<key>fixture_uart_port_name_e</key>
		<string>/dev/cu.usbserial-EW_FIX_B</string>
	</dict>
	<key>Fix3</key>
	<dict>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9418::MY54320638::INSTR</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-EW-FIX-C</string>
		<key>fixture_uart_port_name_e</key>
		<string>/dev/cu.usbserial-EW_FIX_C</string>
	</dict>
	<key>Fix4</key>
	<dict>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9418::MY54320639::INSTR</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-EW-FIX-D</string>
		<key>fixture_uart_port_name_e</key>
		<string>/dev/cu.usbserial-EW_FIX_D</string>
	</dict>
	<key>Fix5</key>
	<dict>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9418::MY54320638::INSTR</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-EW-FIX-E</string>
		<key>fixture_uart_port_name_e</key>
		<string>/dev/cu.usbserial-EW_FIX_E</string>
	</dict>
	<key>Fix6</key>
	<dict>
		<key>b2987_adress</key>
		<string>USB0::0x0957::0x9418::MY54320639::INSTR</string>
		<key>fixture_uart_baud</key>
		<string>115200</string>
		<key>fixture_uart_port_name</key>
		<string>/dev/cu.usbserial-EW-FIX-F</string>
		<key>fixture_uart_port_name_e</key>
		<string>/dev/cu.usbserial-EW_FIX_F</string>
	</dict>
	<key>foldDir</key>
	<string>/vault/SIRT_LOG</string>
	<key>isDebug</key>
	<false/>
	<key>sw_name</key>
	<string>SIRT</string>
	<key>sw_ver</key>
	<string>V2.0.52GS</string>
</dict>
</plist>
